<form>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Group name</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Test id(s)</mat-label>
                <mat-select multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
