<form class="form" #testsGroupForm [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
    <div class="form-header">
        <div class="form-header__title">All tests</div>
        <div class="form-header__action">
            <button class="form-header-action-btn" type="reset" mat-raised-button (click)="onReset()">
                {{ isEditMode ? 'Cancel' : 'Reset' }}
            </button>
            <button class="form-header-action-btn" type="submit" mat-raised-button color="primary">
                {{ isEditMode ? 'Edit' : 'Add' }}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Group name</mat-label>
                <input matInput formControlName='name' />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName='description'></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Test id(s)</mat-label>
                <mat-select multiple formControlName='tests'>
                    <mat-option *ngFor="let code of testIdList | async" [value]="code">{{ code }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
