<h2 class="title">{{ data?.title || 'Please, confirm your action' }}</h2>
<div *ngIf="data?.text" class="text" [innerHTML]="data.text"></div>
<div class="action">
    <mn-button
        class="action__btn"
        [color]="data?.cancelBtn?.color || 'basic'"
        [size]="data?.cancelBtn?.size || 'default'"
        (click)="close()"
        >{{ data?.cancelBtn?.text || 'Cancel' }}</mn-button
    >
    <mn-button
        class="action__btn"
        [color]="data?.cancelBtn?.color || 'danger'"
        [size]="data?.acceptBtn?.size || 'default'"
        (click)="accept()"
        >{{ data?.acceptBtn?.text || 'Confirm' }}</mn-button
    >
</div>
