@import "src/assets/styles/variables";

:host {
    display: flex;
    width: 100%;
    ::ng-deep {
        mat-form-field {
            width: 100%;
        }

        textarea {
            resize: none !important;
        }

        .form-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            &__title {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .form-header-action-btn {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        .test-constructor-list {
            background: none;
            .mat-row {
                padding: 4px 0;
                background: transparent;
                transition: .2s;
                &:last-child {
                    border-bottom: none;
                }
                &:hover, &.active {
                    background: rgba($divider-color, .05);
                }
            }

            .mat-header-cell {
                background: #ffffff;
                font-size: 16px;
            }
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.list {
    display: block;
    flex: 1 1 auto;
    margin: 0 6px;
    border: 1px solid $divider-color;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    background: rgba(#ffffff, .9);
}

.divider {
    border-right: 1px solid $color-grey-divider;
    margin: 0 30px;
}
