@import "src/assets/styles/variables";

::ng-deep {
    .mat-snack-bar-container {
        max-width: 600px;
        min-width: auto;
        display: flex;
        justify-content: center;
        background: rgba(#000, .77);
        color: $color-background-top-part;
    }
}

.action-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__content {
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    &__action {
        margin-left: 15px;
        color: $color-hex;
        line-height: 28px;
        background: $color-background-top-part;
    }
}

.action-message-icon {
    display: flex;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    font-size: 2em;
    &_type {
        &_success {
            color: $color-forest;
        }
        &_warning {
            color: $color-sunset;
        }
        &_error {
            color: $color-error;
        }
    }
}
