.action-btn {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.action-col {
    justify-content: flex-end;
    min-width: 150px;
    max-width: 150px;
}

.code-col {
    max-width: 100px;
}

.text-limiter {
    width: 100%;
    position: relative;
    &__content {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
