<form class="form" #testsForm [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-header">
        <div class="form-header__title">All tests</div>
        <div class="form-header__action">
            <button class="form-header-action-btn" type="reset" mat-raised-button (click)="onReset()">
                {{ isEditMode ? 'Cancel' : 'Reset' }}
            </button>
            <button class="form-header-action-btn" type="submit" mat-raised-button color="primary">
                {{ isEditMode ? 'Edit' : 'Add' }}
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Test name</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Unit</mat-label>
                <input matInput formControlName="unit" />
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Min</mat-label>
                <input matInput formControlName="min" />
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Max</mat-label>
                <input matInput formControlName="max" />
            </mat-form-field>
        </div>
    </div>
</form>
