:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-wrap, .line-wrap, .aside-wrap, .content-wrap {
    display: flex;
}

.header-wrap {
    width: 100%;
}

.line-wrap {
    flex: 1 1 auto;
}

.content-wrap {
    width: 100%;
    height: 100%;
    flex: 1 1 100%;
}
