@import 'src/assets/styles/variables';
@import 'src/assets/styles/color-palette';

.menu-button {
    min-width: $aside-width;
    width: $aside-width;
    height: $aside-width;
    padding: 0;
    border-radius: 0;
    color: $color-light;
    transition: 0.2s;
    &:hover:not(:disabled, [disabled]) {
        background: rgba($color-light, 0.1);
    }
    &:disabled, &[disabled] {
        color: $color-disabled;
    }
    &_active {
        background: $color-primary !important;
    }
}
