$color-primary: #0090AC;
$color-info: #5593FD;

$color-accept: #43B230;
$color-warning: #F9A200;
$color-danger: #D83422;

$color-dark: #2B2525;
$color-light: #FDFDFD;

$color-divider: #C1C1C1;
$color-background: #F4F4F4;

$color-disabled: rgba($color-divider, .5);
