<p>settings works!</p>
<mn-button>Basic</mn-button> |
<mn-button color="primary">Primary</mn-button> |
<mn-button color="warning">Warning</mn-button> |
<mn-button color="danger">Danger</mn-button> |
<mn-button color="danger" [disabled]="true" (click)="test()">Disabled</mn-button>
<br><br>
<mn-button iconLeft="settings" color="primary">Icon left</mn-button> |
<mn-button iconRight="settings" color="primary">Icon right</mn-button> |
<mn-button iconButton="settings" color="primary"></mn-button>
<br><br>
<mn-button color="primary" size="small">Small</mn-button> |
<mn-button color="primary" size="default">Default</mn-button> |
<mn-button color="primary" size="large">Large</mn-button>
<br><br>
<mn-button iconButton="settings" color="primary" size="small"></mn-button> |
<mn-button iconButton="settings" color="primary" size="default"></mn-button> |
<mn-button iconButton="settings" color="primary" size="large"></mn-button>
